
.top-header{
  background-color: #F0ECF9;
  min-height: auto;
}
.btn-prevent{
  border-radius: 50%;
}
.jumbotron{
  h1{
    font-family: "Archivo", sans-serif;
    color: #0097FE;
    font-weight: bold;
  }
  h6{
    text-transform: uppercase;
    font-family: "Archivo", sans-serif;
    color: #0097FE;
  }
  p{
    color: #858585;
  }
  button{
    border-radius: 6.25rem;
    text-transform: uppercase;
    padding: .625rem 1.875rem;
    background: #0097FE;
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-size: normal;
    margin-top: 1.5625rem;
  }
  button:hover{
    background: #047dce;
    color: #fff;
  }
 
}

/**********Second Section Css**************/
.corona-statics,
.how-to-protect{
  text-align: center;
  h2{
    color: #0097FE;
    font-family: "Archivo", sans-serif;
    padding: 1.875rem 0 0 0;
  }
  p{
    color: #858585;
  }
  span{
    color: #0097FE;
    font-family: "Archivo", sans-serif;
    font-size: 2rem;
    font-weight: 700;
  }
  
}

/**********Third Section Css**************/
.about-corona{
  h3{
    color: #0097FE;
    font-family: "Archivo", sans-serif;
    font-size: 2rem;
    font-weight: 700;
  }
  p{
    color: #858585;
  }
  button{
    border-radius: 6.25rem;
    text-transform: uppercase;
    padding: .625rem 1.875rem;
    background: #0097FE;
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-size: normal;
    margin-top: 1.5625rem;
  }
  button:hover{
    background: #047dce;
    color: #fff;
  }
}
ul.listing {
  padding: 0;
  margin: 0;
}
.listing li{
  /* list-style-image: url(./images/check-mark.svg) ; */
  background: url('./images/check-mark.svg') no-repeat;
  list-style: none;
  padding-left: 1.875rem; 
  margin-bottom: 1.25rem; 
  color: #858585;
}
/**********Foruth Section Css**************/
.point-display h5{
  font-family: "Archivo", sans-serif;
  color: #0097FE;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}

/**********Fifth Section Css**************/

.prevent-corona{
  background-color: rgba(240, 236, 249, 0.342);
  padding: 50px 0;
  margin-bottom: 50px;

  button{
    border-radius: 6.25rem;
    text-transform: uppercase;
    padding: .625rem 1.875rem;
    background: #0097FE;
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-size: normal;
    margin-top: 1.5625rem;
  }
  button:hover{
    background: #047dce;
    color: #fff;
  }
  p{
    color: #858585;
  }
  h3{
    font-family: "Archivo", sans-serif;
    color: #0097FE;
    font-weight: bold;
  }
}

.card {
  background-color: #007bff;
  color: white;
  width: 223px;
  margin: 1.25rem;
  box-shadow: 0 .20rem .5rem rgba(0, 151, 254, 0.4);
}

.card-icon {
  font-size: 3.125rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.card-content{
  padding: 0 20px;

  h2 {
    font-size: 1.25rem;
    margin-bottom: .625rem;
    text-align: left;
    font-family: "Archivo", sans-serif;
    color: #0097FE;
    font-weight: bold;
   } 
}

.card-content p {
  font-size: .875rem;
  text-align: left;

}

/**********Sixth Section Css**************/
.whatDo{
   ul{
    padding: 0;
    margin: 0;
   }
   li{
    list-style: none;
    background: url('./images/green-tick.svg') no-repeat;
    padding-left: 30px; 
    margin-bottom: 20px; 
    text-align: left;
    font-size: 1rem;
    color: #9D9C9C;
    font-family: "Archivo", sans-serif;
   }
}

.notDo{
  ul{
   padding: 0;
   margin: 0;
  }
  li{
   list-style: none;
   background: url('./images/close.svg') no-repeat;
   padding-left: 30px; 
   margin-bottom: 20px; 
   text-align: left;
   font-size: 1rem;
   color: #9D9C9C;
   font-family: "Archivo", sans-serif;
  }
}

/*********Symptoms of corona**************/

.symptions-of-corona{
    background-color: rgba(240, 236, 249, 0.342);
    padding: 60px 0;
}
.symptions-of-corona{
  h2{
    color: #0097fe;
    font-family: "Archivo", sans-serif;
  }
  p{
    color: #858585;
  }
}
.symptom-card{
   background-color: #fff;
   padding: 1rem;
   box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1);
   margin-bottom: 30px;
}